<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <h1><img src="https://scontent.fceb1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p235x165/165021926_232240638640366_5861613234040694377_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeGEESNKke-jm9HWYIpq-tKFRnK_enoSZa9Gcr96ehJlrwIbFJHIOQE3u0oSJpvh3uMszTfa_wEX3WGgu9x24Hss&_nc_ohc=1iauTl9T0CEAX9_zdVh&_nc_ht=scontent.fceb1-1.fna&tp=3&oh=5c2928387c1002e6e96a8625b12df3ba&oe=608519AC" alt=""></h1>
      </ion-slide>
      <ion-slide>
        <h1><img src="https://scontent.fceb1-3.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p235x165/164434200_193783885592083_2418433857023919475_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeG4ZTBUkPARfzVmzRMTCGdS_7tm0Zod2C3_u2bRmh3YLaA41gQbFTvAqfXEhmiAICO02JiXPj19Slm67sae8sgB&_nc_ohc=Uvoru5YZcYkAX_hqSn0&tn=LdSNMO4philLxib5&_nc_ht=scontent.fceb1-3.fna&tp=3&oh=a468c690de4ad5c3a3eab65662e99091&oe=6084EDCC" alt=""></h1>
      </ion-slide>
      <ion-slide>
        <h1><img src="https://scontent.fceb1-2.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p235x165/164688106_273549564322334_1814557793716943265_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeFcoVVmgJmdRa2HMGaN3muXeZCw4Heg7VB5kLDgd6DtUAD5rhYjpxVKhOFmbPYX6fIzAu3Ogr45pQPfrbjUUh8b&_nc_ohc=N2m5PVNTFl4AX8j8qse&_nc_ht=scontent.fceb1-2.fna&tp=3&oh=46514c8a2b8a4fb6ff00aa2acf93286b&oe=6085BE34" alt=""></h1>
      </ion-slide>
      <ion-slide>
        <h1><img src="https://scontent.fceb1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p235x165/165072727_355677189075492_468329907202237013_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeG4WXgKKwUgFJpL5PHBgXnChwikBiEvLgSHCKQGIS8uBKGD0qClFLuvpxWOAzhc0PDIuHCNTXeiARsVU6fasRnN&_nc_ohc=VQ54j1AuyMMAX-Y-04N&_nc_ht=scontent.fceb1-1.fna&tp=3&oh=cbc6a1cb32220ffee0d4b2d3e5ec6e1f&oe=6086F66C" alt=""></h1>
      </ion-slide>
      <ion-slide>
        <h1><img src="https://scontent.fceb1-2.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p235x165/164748768_154378899891671_7003254055832299718_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeFNsqe6yoALdFTVBLQOXaFXTfoGD237DV1N-gYPbfsNXYrRaWF8N1XRB9LTK3AIfJm7ANELKJh-1QGfHxqX0uIz&_nc_ohc=alySHn1YBHkAX-EU3Wq&_nc_ht=scontent.fceb1-2.fna&tp=3&oh=e5f86971f0f29f8e5d3dd3a17b0635ab&oe=60874656" alt=""></h1>
      </ion-slide>
      <ion-slide>
        <h1><img src="https://scontent.fceb1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p235x165/140934467_1615793978620255_247687787928789199_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeHUEHRjXwI80HDe8i3rN9u0AMKY5h5zO_YAwpjmHnM79m9hMvUKHRt9csswNiCQlcfLhZJTxs16MoAIRNLS_D4S&_nc_ohc=uG1GLBLnEJEAX9BcwSA&_nc_ht=scontent.fceb1-1.fna&tp=3&oh=4121bdc90fda01fa41beb403d044e722&oe=6086BD38" alt=""></h1>
      </ion-slide>
      <ion-slide>
        <h1><img src="https://scontent.fceb1-3.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p235x165/94511257_673987213395130_7575915392057475072_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeEFzf1h30y6n_V5_UQrmhYYaVx_ZdiOS3NpXH9l2I5Lcy-9Be_KW8I-vZGHHx78lMOAYO-C1zrRx-ejfSvjc5Y1&_nc_ohc=4pCgbrYFTnwAX-7gUEO&_nc_ht=scontent.fceb1-3.fna&tp=3&oh=fed4b3f5095fa81686804245c6864cf7&oe=60870DFB" alt=""></h1>
      </ion-slide>
      <ion-slide>
        <h1><img src="https://scontent.fceb1-2.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p235x165/165202023_1082197858943434_1833350312041673277_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeH5Hg0UsYH-Ban_A9KxCDtEOOGZSycfeXU44ZlLJx95dQe348tqx2RAo-iKR65NWQepNog1WR4cleNjv44xa6RM&_nc_ohc=iNomVO-AnJAAX9tmbYl&_nc_ht=scontent.fceb1-2.fna&tp=3&oh=5dcb6f23953529a58bcea3cd7645b654&oe=608570C6" alt=""></h1>
      </ion-slide>
      <ion-slide>
        <h1><img src="https://scontent.fceb1-2.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p235x165/165889321_2942216316055351_2639164618764494726_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeG7ruqdNH1yrwab550ythyNT1d5kSWEXqlPV3mRJYReqTQLr3gBVl4q10bTDVT4mg5lUWLcXYczt7BOBycbSsOS&_nc_ohc=i3Rx2J0Mx1YAX9XxK71&_nc_ht=scontent.fceb1-2.fna&tp=3&oh=7c2c454518c759a591450f93238b3d7a&oe=60879D3D" alt=""></h1>
      </ion-slide>
      <ion-slide>
        <h1><img src="https://scontent.fceb1-2.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p235x165/166185437_2772167296377250_2596884423579876441_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeEMYNEox8QTOIOXYjH1borW1PaSWqtuGe7U9pJaq24Z7oJDYa-2T6rh8XlBT7DgkbwzsrgvJzEXzcI9bnrO5udX&_nc_ohc=6MiOJRF2NmgAX-APkpa&_nc_ht=scontent.fceb1-2.fna&tp=3&oh=8bd1f99392e84508453ab9f96d68a75c&oe=6086B2A5" alt=""></h1>
      </ion-slide>
      <ion-slide>
        <h1><img src="https://scontent.fceb1-3.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p235x165/166313381_2896970367228066_603310486864761032_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeEFKlvrt-vPce9prbvi4Ja-TMUR7AdN5hpMxRHsB03mGlJcdZqipR78-2ErH8ZK3OPBAUNUp4mNlBFf0otAdrfj&_nc_ohc=n7tQOVRiwdoAX-ElAc6&_nc_oc=AQkQWREJ785D1bmWJ5O3qsGNLRbbE179HBB2EOBHBKacGwaCDOpb84wbNM9qPr0OSQo&_nc_ht=scontent.fceb1-3.fna&tp=3&oh=c0dfcb91f95a5a7e34a626ba70ec3efe&oe=6087CA06" alt=""></h1>
      </ion-slide>
      <ion-slide>
        <h1><img src="https://scontent.fceb1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p235x165/166105068_784275228858143_8042295771157355195_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeHKmeEcDlqdYaQIURpaS2DCDkdxzHGCu5kOR3HMcYK7meZ151niY7rRm51tJA7lYakIOaOHa24p5OBixvsF25D9&_nc_ohc=33BK4EEjcY4AX-6JLrz&_nc_ht=scontent.fceb1-1.fna&tp=3&oh=10091fb552cc891463ac952c3f96c5ab&oe=60842279" alt=""></h1>
      </ion-slide>
      <ion-slide>
        <h1><img src="https://scontent.fceb1-2.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p235x165/164745299_269106251582557_4365911274141892901_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeE4A8ERCmhRDonONjsvhRVkjVfHyUl-8_KNV8fJSX7z8gmLfDLEQRMtEZWfd17aI9qli1nMH0bo7fLsmqybkS9J&_nc_ohc=HJTM-sICRDoAX-3Fgyr&_nc_ht=scontent.fceb1-2.fna&tp=3&oh=ab0858f8d629e52cf3b75fdd0f28c47d&oe=60845BAE" alt=""></h1>
      </ion-slide>
      <ion-slide>
        <h1><img src="https://scontent.fceb1-3.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p235x165/165347290_1922698221231348_8497697297889362353_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeEo-LrgB-X9QbtW46J-kfyjVF2XmRQKCOdUXZeZFAoI54SbLAhTbrlpKvx3iCg_AlPF-5VJGc_UakuPDtr0I_OP&_nc_ohc=_QmDXw22uLIAX8K0DBN&_nc_ht=scontent.fceb1-3.fna&tp=3&oh=85c62e12db44e1bcfc54175b7f3220f2&oe=608703BD" alt=""></h1>
      </ion-slide>
      <ion-slide>
        <h1><img src="https://scontent.fceb1-3.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p235x165/164329511_781991239401604_5243594145569515412_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeEkxfvAReJFQF-yitu9kfznvuLEMTbG3Je-4sQxNsbcl6KD4S9B-JVrbMxT4A-U7ZS7YnQ5YgDxR3mlIY_NEFAr&_nc_ohc=gKKkzRvDFsEAX_WjgB8&_nc_ht=scontent.fceb1-3.fna&tp=3&oh=1c1a7ac0973c0d862b405ebfc9ae2bff&oe=60858DE3" alt=""></h1>
      </ion-slide>
  </ion-slides>
  </ion-content>
</ion-content>
