<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
    <ion-card-title>My Personal Information</ion-card-title>
    </ion-card-header>
    <ion-card-header>
    <p> Name: Melanie S. Agramon</p>
    <p> Address: 353 San Roque St/ Triumfu St. Sawang Carigara, Leyte</p>
    <p> Age: 22</p>
    <p> Height:4'9</p>
    <p> Status: Single</p>
    <ion-card-title>Educational Background</ion-card-title>
    <p>Hinugayan Elem school</p>
    <p>Barugo National High School (Junior High)</p>
    <p>Leyte National High School (Senior High/ GA strand)</p>
    <ion-card-title>Parent's Name and Occupation</ion-card-title>
    <p>Peter Arpon N/A</p>
    <p>Mercydes Solayao House Maid</p>
    </ion-card-header>
  </ion-card>
</ion-content>
