<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
    <ion-card-title>Contact Info</ion-card-title>
    <p>Cp#: 09300882779</p>
    <p> FB: melissa_agramon@yaho­o.com</p>
    <p>Gmail: melanieagramon297@gm­ail.com</p>
    </ion-card-header>
  </ion-card>
</ion-content>
